* {
    margin: 0;
    padding: 0
}

#tbl-parfemi {
    width: 900px;
    margin-left: 28%;
}

#button-novi{
    width: 150px;
    margin-left: 46%;
}

#novi-form{
    width: 35%;
    margin-left: 5%;
    margin-top: 2%;
}

.search {
    display: flex;
}

#pretraga {
    margin-left: 58%;
    margin-right: 0.7%;
    width: 12%;
}

#button-sort-rastuce{
    margin-left: 44%;
}

#edit-form{
    width: 30%;
    margin-top: 2%;
    margin-left: 5%;
}