* {
    margin: 0;
    padding: 0
}

#tbl-parfemi {
    width: 900px;
    margin-left: 28%;
}

#button-novi{
    width: 150px;
    margin-left: 46%;
}

#novi-form{
    width: 35%;
    margin-left: 5%;
    margin-top: 2%;
}